.Navigation {
    background-color: rgba(0,0,0, 0.85);
    color: #fff;
    box-shadow: 1px 1px 1px #000000;
    /* border-bottom: 1px solid #dfdfdf; */
    height: 55px;
    line-height: 50px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.Navigation .Center_Logo {
    width: 50px;
}

/* Right Navigation */
.Navigation_Right {
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 2;
    display: none;
}
