.Admin_Message_Show_Container {
    height: calc(100vh - 90px );
    overflow-y: scroll;
    border: 1px solid #dfdfdf;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    width: 100%;
}
.Admin_Message_Show_Container > .Opacity {
    width: 100%;
    min-height: 100%;
    background-color: rgba(0,0,0, 0.65);
}

.Admin_Message_Show_Ul {
    list-style-type: none;
    padding: 0.4rem 0.3rem;
    margin: 0;
    z-index: 2;
    position: relative;
}
.Admin_Message_Show_Ul .Li{
    margin-bottom: 1rem;
}
.Admin_Message_Show_Ul .Li > .Message > span {
    max-width: 80%;
    background-color: rgba(0,0,0, 0.65);
    display: inline-block;
    border-radius: 1rem;
    padding: 0.2rem 0.5rem 0.4rem 0.5rem;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}

.Admin_Message_Show_Ul .Li > .Message >.Left {
    float: left;
    border-radius: 1rem 1rem 1rem 0rem;
}
.Admin_Message_Show_Ul .Li > .Message >.Right {
    float: right;
    border-radius: 1rem 1rem 0rem 1rem;
}

.Admin_Message_Show_Ul .Li > .Message >.Center {
    display: block;
    margin: 0 auto;
    width: 80%;
    border-radius: 0.3rem 0.3rem 0rem 0rem;
    border: 1px solid #ffffff;
}

.Admin_Message_Show_Ul .Li > .NameAndEdit:before {
    content: "";
    display: block;
    clear: both;
}
.NameAndEditContainer.Left {
    float:left;
}
.NameAndEditContainer.Right {
    float:right;
}
.NameAndEditContainer.Center {
    text-align: center;
}
.NameAndEditContainer  {
    padding-top: 0.5rem;
}
.NameAndEditContainer > .Name {
    color: #fff;
}
.NameAndEditContainer.Right > .Name {
    float: right;
    margin-left: 3px;
}
.NameAndEditContainer > .button {
    border: 1px solid #ddd;
    width: 1.7rem;
    height: 1.7rem;
    text-align: center;
    border-radius: 1rem;
    display: inline-block;
    cursor: pointer;
    background-color: #292323;
    color: #ababab;
    margin: 0 2px;
}
.NameAndEditContainer > .button:hover {
    background-color: #fff;
}
.NameAndEditContainer > .button.active {
    color: #89afef;
}
.NameAndEditContainer > .button.cursor {
    background-color: #007bff;
    border: 1px solid #ffffff;
    color: #ffffff;
}

.Admin_Message_Show_Ul .Li:after {
    content: "";
    display: block;
    clear: both;
}


.Folder, .Audio > ul {
    list-style: none;
    padding: 0;
}
.Folder > li, .Audio > ul > li {
    padding: 0.3rem 0.3rem;
    border-radius: 2px;
}

.Folder > li:hover, .Audio > ul > li:hover {
    background-color: #efefef;

}
.Folder > li > i.icon {
    color: #ffcf43;
}

.Folder .Folder_Loading {
    width: 2rem;
    display: inline-block;
}

.ImageDiv {
    cursor: pointer;
    min-height: 8rem;
    background-color: #ddd;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border: 2px solid white;
    border-radius: 3px;
}

.ImageDiv:hover {
    opacity: 0.8;
}


/* width */
::-webkit-scrollbar {
    width: 0.4rem;
}
