
.Font_Size_40_px {
    font-size: 40px;
}

.Font_Size_50_px {
    font-size: 50px;
}

.Font_Size_80_px {
    font-size: 80px;

}

.Font_Size_1_point_6_rem {
    font-size: 1.6rem
}

.Pointer {
    cursor: pointer;
}